<h1>Data sciecne tool and ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
    <li>C++</li>
    <li>SQL</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
  <li>Numpy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
  <li>Scikit learn</li>
  <li>Tenserflow</li>
</ol>

| Data Science Tools         |
|----------------------------|
| JupyterLab                 |
| RStudio                    |
| Apache Zeppelin            |

<h3>Below are a few examples of evaluating arithmetic expressions in Python :</h3>

In [12]:
print("This a simple arithmetic expression to mutiply then add integer")
ssum = (3*4)+5
print(ssum)

This a simple arithmetic expression to mutiply then add integer
17

In [15]:
#This will convert 200 minutes to hours by diving by 6

In [16]:
time = 200/60
print("200 mimnutes is %d hours",time)

200 mimnutes is %d hours 3.3333333333333335

<p><h3><strong>Objectives</strong></h3></p>
<ul>
 <li>Popular language in data science</li>
 <li>Tools for data science</li>
 <li>Library for data science</li>
 <li>Multiply and add numbers</li>
</ul>


<h2>Author</h2>
Dhyan Dave